<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Website - About</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
  </head>
  <body>
    <h1>Daeshaun Gouldbourne</h1>
    <p>
      My name is Daeshaun Gouldbourne. I am 21 years old. It is my dream to
      become an Information Technology Project Manager in the future. I have had
      this dream since I was a child and I became fascinated with technology and
      completing tasks on computers.
    </p>
    <img
      src="{{ url_for('static', filename='img.jpg') }}"
      alt="Image Unavailable"
    />
  </body>
</html>
